body{
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgrey;
}

h1, h2{
    text-align: center;
    color: maroon;
    margin: auto;
    border: 2px;
    padding: 2px;
}

p{
    text-align: center;
    display: inline-block;
    width: fit-content;
    margin: 5%;
    border: 2px solid black;
    padding: 3px;
    position: relative;
    left: 5%;
    background-color: blanchedalmond;
    color: red;
    text-transform: capitalize;
    cursor: pointer;
}